.header-logo {
  font-family: Unkempt, sans-serif;
  display: inline;
  color: white;
  margin-left: 0.5em;
}

.logo-pic {
  width: 25px;
  margin-left: 3px;
}

.blue-header {
  background-color: #015291;
  height: 50px;
}

.row {
  display: flex;
}

.ai-center {
  align-items: center;
}

.jc-center {
  justify-content: center;
}

.col-75 {
  flex-basis: 75%;
}

.col-25 {
  flex-basis: 25%;
}

.col-100 {
  flex-basis: 100%;
}

.jc-end {
  justify-content: flex-end;
}

.margin-right {
  margin-right: 1em;
}

.fa-bars {
  color: white;
  font-size: 2em;
}

.gray-background {
  background-color: #f7f7f7;
}

.height-70 {
  height: 70vh;
}

.height-30 {
  height: 30vh;
}

.width {
  width: 100%;
}

.text-align-center {
  text-align: center;
}

.team-search-bar {
  width: 80%;
  padding: 12px;
  border-radius: 5px;
  border-color: silver;
  border-style: solid;
  box-shadow: 0 4px 2px -2px gray;
}

.team-search-bar:focus {
  outline: #015291;
  border-color: #015291;
}

.relative {
  position: relative;
}

::placeholder {
  color: #015291;
  font-family: Roboto, sans-serif;
}

.fa-magnifying-glass {
  position: absolute;
  top: 49%;
  right: 12%;
  color: #015291;
}

.menu-button {
  border: none;
  background-color: #015291;
}

.team-search-button {
  border: none;
  background-color: #f7f7f7;
}

.fifa-logo {
  background-color: #015291;
}

.wrapped {
  flex-wrap: wrap;
}

.ai-flex-end {
  align-items: flex-end;
}

i {
  cursor: pointer;
}

.fifa-logo-pic {
  padding-bottom: 10px;
}

.team-image {
  width: 100%;
  margin-top: 1em;
  height: 75vh;
}

.stadium-image {
  width: 100%;
  margin-top: 1em;
  padding: 0 1em;
}

.team-info {
  font-weight: bolder;
  color: #015291;
}

.add-team {
  background-color: #f7f7f7;
  color: #015291;
  padding: 8px 16px;
  border-radius: 3px;
  margin-bottom: 1em;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid #015291;
  cursor: pointer;
  box-shadow: 1px 1px 2px gray;
}

.team-list-header {
  color: #015291;
  margin-left: 1em;
  font-size: 24px;
  margin-top: 0.2em;
  margin-bottom: 0;
}

.list-group {
  list-style: none;
}

ul {
  padding-left: 0;
  margin-top: 0;
}

.jc-space-around {
  justify-content: space-around;
}

.column-one-sixth {
  flex-basis: 33%;
  align-self: center;
}

.column-two-thirds {
  flex-basis: 66%;
  align-self: center;
}

.list-blue-background {
  background-color: #015291;
  border-radius: 10px;
  margin: 0.5em;
  min-height: 90%;
}

.team-list-name {
  color: white;
  font-size: 40px;
  font-weight: bold;
}

.team-list-logo {
  max-width: 70%;
}

img {
  object-fit: contain;
}
