.header-logo {
  font-family: Unkempt, sans-serif;
  display: inline;
  color: white;
  margin-left: 0.5em;
}

.logo-pic {
  width: 25px;
  margin-left: 3px;
}

.blue-header {
  background-color: #015291;
  height: 50px;
}

.row {
  display: flex;
}

.ai-center {
  align-items: center;
}

.jc-center {
  justify-content: center;
}

.col-50 {
  flex-basis: 50%;
}

.col-75 {
  flex-basis: 75%;
}

.col-25 {
  flex-basis: 25%;
}

.col-100 {
  flex-basis: 100%;
}

.col-70 {
  flex-basis: 70%;
  height: 100vh;
}

.col-60 {
  flex-basis: 60%;
}

.col-30 {
  flex-basis: 30%;
  height: 100vh;
  background-color: #f7f7f7;
}

.col-10 {
  flex-basis: 1%;
}

.jc-end {
  justify-content: flex-end;
}

.margin-right {
  margin-right: 1em;
}

.fa-bars {
  color: white;
  font-size: 2em;
}

.gray-background {
  background-color: #f7f7f7;
}

.height-70 {
  height: 70vh;
}

.height-30 {
  height: 30vh;
}

.width {
  width: 100%;
}

.text-align-center {
  text-align: center;
}

.team-search-bar {
  width: 80%;
  padding: 12px;
  border-radius: 5px;
  border-color: silver;
  border-style: solid;
  box-shadow: 0 4px 2px -2px gray;
}

.team-search-bar:focus {
  outline: #015291;
  border-color: #015291;
}

.relative {
  position: relative;
}

::placeholder {
  color: #015291;
  font-family: Roboto, sans-serif;
}

.fa-magnifying-glass {
  position: absolute;
  top: 49%;
  right: 12%;
  color: #015291;
}

.menu-button {
  border: none;
  background-color: #015291;
}

.team-search-button {
  border: none;
  background-color: #f7f7f7;
}

.fifa-logo {
  background-color: #015291;
}

.wrapped {
  flex-wrap: wrap;
}

.ai-flex-end {
  align-items: flex-end;
}

i {
  cursor: pointer;
}

.fifa-logo-pic {
  padding-bottom: 10px;
  width: 90%;
}

.team-image {
  width: 100%;
  margin-top: 1em;
  max-height: 450px;
}

.stadium-image {
  width: 100%;
  margin-top: 1em;
  padding: 0 1em;
  max-height: 464px;
}

.team-info {
  font-weight: bolder;
  color: #015291;
}

.add-team {
  background-color: #f7f7f7;
  color: #015291;
  padding: 8px 16px;
  border-radius: 3px;
  margin-bottom: 1em;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid #015291;
  cursor: pointer;
  box-shadow: 1px 1px 2px gray;
}

.team-list-header {
  color: #015291;
  margin-left: 1em;
  font-size: 24px;
  margin-top: 0.2em;
  margin-bottom: 0;
}

.list-group {
  list-style: none;
}

ul {
  padding-left: 0;
  margin-top: 0;
}

.jc-space-around {
  justify-content: space-around;
}

.column-one-sixth {
  flex-basis: 33%;
  align-self: center;
}

.column-two-thirds {
  flex-basis: 66%;
  align-self: center;
}

.list-blue-background {
  background-color: #015291;
  border-radius: 10px;
  margin: 0.5em;
  min-height: 90%;
}

.team-list-name {
  color: white;
  font-size: 40px;
  font-weight: bold;
}

.team-list-logo {
  max-width: 70%;
  padding-bottom: 0.5em;
}

img {
  object-fit: contain;
}

.fa-xmark {
  position: absolute;
  top: 4px;
  right: 7px;
  color: white;
}

.x-mark-button {
  border: none;
  background: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -170%);
  background-color: #015291;
  border-radius: 5px;
  z-index: 1;
  height: 23%;
  width: 55%;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0 4px 2px -2px black;
  border: 1px solid white;
}

.column-full {
  flex-basis: 100%;
}

.modal-text-format {
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  color: white;
  font-weight: lighter;
}

.yes-button {
  background-color: white;
  color: green;
  border: none;
  padding: 3px 20px;
  border-radius: 12px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 2em;
  box-shadow: 0 4px 2px -2px black;
}

.no-button {
  background-color: white;
  color: red;
  border: none;
  padding: 3px 20px;
  border-radius: 12px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 2em;
  box-shadow: 0 4px 2px -2px black;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(0 0 0 / 60%);
  z-index: 1;
}

.blue-menu-header {
  background-color: #015291;
  height: 50px;
  color: white;
  padding-top: 0.5em;
  padding-left: 0.3em;
}

.menu-text {
  margin: 0;
}

.team-search-link {
  padding-left: 0.3em;
  color: #015291;
  font-weight: bold;
}

.team-watchlist-link {
  padding-left: 0.3em;
  color: #015291;
  font-weight: bold;
}

.team-header {
  color: #015291;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
  margin-bottom: 5px;
}

.team-blue-background {
  background-color: #015291;
  width: 300px;
  border-radius: 10px;
  padding: 2em 0;
}

.season-select-input {
  width: 60%;
  border-radius: 5px;
  color: gray;
  border-color: #015291;
  padding-top: 15px;
  font-size: 15px;
  text-align: center;
  margin-top: 0.5em;
}

.select-button {
  visibility: none;
  background-color: #f7f7f7;
  border: none;
}

.fa-square-check {
  font-size: 2.7em;
  color: #015291;
}

.as-center {
  align-self: center;
}

.season-team-logo {
  width: 60%;
  max-height: 430px;
}

.player-list-text {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.player-list-photo {
  max-width: 70%;
}

.player-card-blue-background {
  background-color: #015291;
  margin-top: 1em;
}

.single-player-image {
  width: 75%;
  padding-top: 1em;
  padding-bottom: 1em;
  max-height: 500px;
  object-fit: contain;
}

.white-outline {
  margin-top: 1em;
  margin-bottom: 1em;
  border: 2px solid white;
}

.single-player-name {
  color: white;
}

.line-height {
  line-height: 3px;
}

.player-stats {
  color: white;
  font-weight: bold;
  margin-left: 0.5em;
}

.max-height {
  max-height: 300px;
}

h1 > a {
  text-decoration: none;
}

p > a {
  text-decoration: none;
}

h1 > a:visited {
  text-decoration: none;
  color: white;
}

p > a:visited {
  text-decoration: none;
  color: #015291;
}

season-select-input:focus {
  outline: #015291;
  border-color: #015291;
}

.xmark2 {
  position: absolute;
  top: 75px;
  right: 250px;
  color: #015291;
  font-size: 24px;
}
